@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F7F1E3;
}

body {
  /* PWA enhancements */
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}


::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 4px;
  max-height: 50%; height: 50%;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.glob-hover {
  background-size: 100% 100%, 0 100%;
  -webkit-text-fill-color: transparent;
  background-image: url("../../public/white.jpg"), url("../../public/secondary.png");
  background-position: 100% 0,0 0;
  background-repeat: no-repeat,no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  transition: background-size 2s ease-in;
}

.glob-hover:hover {
  -webkit-text-fill-color: transparent;
  background-image: url("../../public/white.jpg"), url("../../public/secondary.png");
  background-position: 100% 0,0 0;
  background-repeat: no-repeat,no-repeat;
  background-size: 0 100%, 100% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  transition: background-size 2s ease-in;
}


.rotate-vert-center {
  animation: rotate-vert-center 2s ease-in-out infinite both;
}

@keyframes rotate-vert-center {
  0% {
    transform-origin: center;
    transform: rotateY(0);
  }
  100% {
    transform-origin: center;
    transform: rotateY(360deg);
  }
}

/* Custom Cursor */
.circle {
  position: fixed;
  z-index: 10;
  display: flex;
  flex-flow: row;
  align-content: center;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 10px;
  height: 20px;
  width: 20px;
  border-radius: 200px;
  pointer-events: none;
  color: #fff;
  text-align: center;
  font-size: 16px;
}

.scroll-reveal span {
  color: hsl(0, 0%, 55%, .5);
  background-clip: text;
  background-repeat: no-repeat;
  background-size: 0 100%;
  background-image: linear-gradient(90deg, coral, darkcyan);
  animation: scroll-reveal linear forwards;
  animation-timeline: view(y);
}

.scroll-reveal span span {
  color: rgb(194 65 12)!important;
  background-image: none!important;
}
.scroll-reveal p span {
  animation-range-start: cover 60vh;
  animation-range-end: cover 100vh;
}

@keyframes scroll-reveal {
  to {
    background-size: 100% 100%;
  }
}

.gradient-link {
  background: linear-gradient(45deg, #316C45, #A8303A, #D7B747, #313C74);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline;
}
